$white: #fff; //descriptive color name
// ui color names
$primary-color: #51ddfc;
$secondary-color: #58e1c1;
$default-color: #51ddfc;
$error-color: #e4757c;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    
}