/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    color: $primary-color;
  }
  
  .error {
    color: $error-color;
  }
  
  .info {
    color: $info-color;
  }
  
  .success {
    color: $success-color;
  }
  
  .warning {
    color: $warning-color;
  }